<!DOCTYPE html>
<html ng-app="pagesApp">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @RenderSection("CSSSection", false)
</head>
<body ng-controller="AppCtrl">
    @RenderBody()
    @RenderSection("JSSection", false)
</body>
</html>