<form name="formZone" ng-controller="ZonesCtrl">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Zone Name</th>
                <th scope="col">Zone Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="zone-item" ng-repeat="zone in currentPagePopulated.zones">
                <th scope="row">{{ $index }}</th>
                <td ng-if="!zone.isEditing">{{zone.name}}</td>
                <td ng-if="zone.isEditing">
                    <div class="form-group">
                        <input type="text" name="name{{ $index }}" ng-model="zone.name" class="form-control" placeholder="Name..."
                               required ng-trim="true"
                               ng-class="{'is-invalid': formZone.name{{ $index }}.$error.required }">
                        <div class="invalid-feedback">
                            <span ng-show="formZone.name{{ $index }}.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                </td>
                <td ng-if="!zone.isEditing">{{zone.type}}</td>
                <td ng-if="zone.isEditing">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{zone.type}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-click="zone.type='HEADER'" href="#">HEADER</a>
                            <a class="dropdown-item" ng-click="zone.type='BANNER_LEFT'" href="#">BANNER LEFT</a>
                            <a class="dropdown-item" ng-click="zone.type='BANNER_RIGHT'" href="#">BANNER RIGHT</a>
                            <a class="dropdown-item" ng-click="zone.type='CENTRE'" href="#">CENTRE</a>
                            <a class="dropdown-item" ng-click="zone.type='FOOTER'" href="#">FOOTER</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-show="!zone.isEditing">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="editingMode(zone, true)">Edit</button>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="deleteZone(zone, $index)">Delete</button>
                    </div>
                    <div ng-show="zone.isEditing">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="updateZone(zone, true)">Update</button>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="editingMode(zone, false)">Cancel</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">{{ $index }}</th>
                <td>
                    <div class="form-group">
                        <input type="text" name="name" ng-model="newZone.name" class="form-control" placeholder="Name..."
                               required ng-trim="true"
                               ng-class="{'is-invalid': formZone.name.$error.required}">
                        <div class="invalid-feedback">
                            <span ng-show="formZone.name.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{newZone.type}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-click="newZone.type='HEADER'" href="#">HEADER</a>
                            <a class="dropdown-item" ng-click="newZone.type='BANNER_LEFT'" href="#">BANNER LEFT</a>
                            <a class="dropdown-item" ng-click="newZone.type='BANNER_RIGHT'" href="#">BANNER RIGHT</a>
                            <a class="dropdown-item" ng-click="newZone.type='CENTRE'" href="#">CENTRE</a>
                            <a class="dropdown-item" ng-click="newZone.type='FOOTER'" href="#">FOOTER</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm form-control" ng-click="addZone()" ng-disabled="!formZone.$valid">Add</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
